[bumpversion]
current_version = 0.1.0
part = patch
#commit = True
#tag = True
message = "Bump version: {current_version} -> {new_version}"

[bumpversion:file:setup.py]

[bumpversion:file:dkconfig/__init__.py]
